{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2>Projects</h2>
<ul>
    {% for project in project_list %}
        <li>{{ project.title }} - <a href="#" data-project-id="{{ project.id }}" class="view-details">View Details</a></li>
    {% empty %}
        {% if user.is_authenticated %}
            <li>You have no projects.</li>
        {% else %}
            <li>There are no projects.</li>
        {% endif %}
    {% endfor %}
</ul>

<div id="projectModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 id="modalTitle"></h3>
        <p id="modalDescription"></p>
        <p id="modalLocation"></p>
        <!-- Add more fields as needed -->
    </div>
</div>
{% endblock %}


{% block javascript %}
    <script src="{% static 'js/projects.js' %}"></script>
{% endblock %}